

.cards-container {}

.title-conteiner {}

.card-wrapper {}

.bg-header {}

.card-content {}

.photo-wrapper {}

img.photo-profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid blueviolet;

}

.user-name {}

.capitalize {}

.adress-profile {}

.icon-map {
    
}

.uppercase {}

.btn-container {}

.bth-left {}

.bth-right {}

.description-profile {}

.social-footer {}

.list-social {
    display: block;
    background-color: blueviolet
}

.link-social {
    display: inline-block;
}

.icon-fb {}

.icon-google {}

.icon-twitter {}